body {
    font-family: 'Titillium Web', sans-serif;
}

p {
    margin: 0;
}

// Titles -------

.promo__title {
    hr {
        width: 87px;
        margin: 0 auto;
    }
    .title {
        padding-top: 120px;
        padding-bottom: 26px;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.75;
        letter-spacing: 4px;
        text-align: center;
        color: #fff;
    }
    .subtitle {
        padding-top: 23px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: 0.36px;
        text-align: center;
        color: #fff;
    }
    @media screen and(max-width: 1200px) {
        .subtitle {
            font-size: 20px;
        }
    }
    @media screen and(max-width: 504px) {
        .title {
            line-height: 1.1;
        }
    }
}

// -------

// Header ---

.header {
    height: 600px;
    background: #633a79;
}

// Navigation

.nav {
    padding-top: 57px;
}

.nav__link {
    border-radius: 5px;
}

.nav__link:hover {
    background-color: rgba(0, 0, 0, .3);
}

.nav__link_active {
    background-color: rgba(0, 0, 0, .3);
}

// Header title

.header__title {
    padding: 100px 0 0 0;
    font-size: 42.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #f7f3ea;
    text-align: center;
}

// Header button

.header__btn {
    margin-top: 55px;
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    border: none;
    border-bottom: 6px solid #c86a40;
    font-size: 17.5px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.35px;
    text-align: center;
    color: #fff;
}

.header__btn:active {
    border: none;
}

@media screen and (max-width: 992px) {
    .header__title {
        padding-top: 50px;
        font-size: 35px;
    }
    .header__btn {
        margin-top: 30px;
        width: 200px;
        height: 70px;
    }
}

@media screen and (max-width: 576px) {
    .header__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 320px) {
    .header__title {
        font-size: 25px;
        padding-top: 50px;
    }
    .header__btn {
        margin-top: 40px;
        width: 200px;
        height: 70px;
    }
}

// ---

// Services ---

.services {
    min-height: 747px;
    background: #17c2a4;
    .services__columns {
        padding-top: 80px;
        @media screen and (max-width: 1200px) {
            padding-top: 80px;
        }
        padding-bottom: 25px;
        .services__rocket {
            img {
                margin-bottom: 52px!important;
            }
        }
        .services__col {
            padding-top: 20px;
            img {
                margin-bottom: 60px;
            }
            p:nth-child(2) {
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.75;
                letter-spacing: 0.48px;
                color: #fff;
                margin-bottom: 18px;
                @media screen and (max-width: 1200px) {
                    font-size: 30px;
                }
            }
            p:nth-child(3) {
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.32px;
                text-align: center;
                color: #fff;
                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }
            }
        }
    }
}

// ---

// Personal ---

.personal {
    min-height: 915px;
    background: #e7f1f8;
    .promo__title {
        .title__personal {
            color: #3c4761;
        }
        .subtitle__personal {
            color: #3c4761;
        }
    }
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 31px;
        svg {
            margin-right: 12px;
        }
        svg:last-child {
            margin: 0;
        }
    }
    .personal__columns {
        padding-top: 68px;
        @media screen and (max-width: 1200px) {
            padding-top: 38px;
            padding-bottom: 35px;
        }
    }
    .personal__col {
        p:nth-child(2) {
            margin-top: 41px;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.75;
            letter-spacing: 0.48px;
            color: #27283d;
            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }
        p:nth-child(3) {
            margin-top: 15px;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.13;
            letter-spacing: 0.32px;
            color: #30bae7;
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
        p:nth-child(4) {
            margin-top: 26px;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.32px;
            color: #3c4761;
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
        @media screen and (max-width: 1200px) {
            margin-top: 38px;
        }
    }
}

// ---

// Skills ---

.skills {
    min-height: 655px;
    background-color: #fff;
    .promo__title {
        .title__skills {
            color: #3c4761;
        }
        .subtitle__skills {
            color: #3c4761;
        }
    }
    .skills__percents {
        padding-top: 84px;
        padding-bottom: 40px;
        @media screen and (max-width: 992px) {
            padding-top: 39px;
        }
        .percents__col {
            p {
                margin-top: 32px;
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.75;
                letter-spacing: 0.48px;
                color: #3c4761;
            }
            @media screen and (max-width: 992px) {
                padding-top: 45px;
            }
        }
    }
}

// ---

// Portfolio ---

.portfolio {
    min-height: 1423px;
    background-color: #ffdd99;
    .promo__title {
        .title__portfolio {
            color: #3c4761;
        }
        .subtitle__portfolio {
            color: #3c4761;
        }
    }
    .portfolio__tabs {
        padding-bottom: 55px;
        ul {
            padding: 0!important;
            margin-top: 42px;
        }
        button.active {
            color: #393939!important;
            background-color: #fff!important;
        }
        button {
            background-color: rgba(0, 0, 0, .15);
            margin-right: 10px!important;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: 0.36px;
            text-align: center;
            color: #393939;
            width: 84px;
            height: 38px;
        }
    }
    .tab-content {
        padding-top: 22px;
        @media screen and (max-width: 1200px) {
            margin-top: -68px;
        }
        .tab-pane {
            img {
                padding-top: 40px;
                @media screen and (max-width: 1200px) {
                    padding-top: 76px!important;
                }
                @media screen and (max-width: 576px) {
                    width: 95%;
                }
            }
        }
    }
    .portfolio-btn {
        padding-top: 40px;
        @media screen and (max-width: 1200px) {
            padding-bottom: 40px;
        }
        button{
            width: 293px;
            height: 70px;
            border-radius: 4px;
            background-color: #17c2a4;
            border-bottom: solid 5px #14a58c!important;
            font-size: 17.5px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: 0.35px;
            text-align: center;
            color: #fff;
        }
    }
    .portfolio-btn button:active {
        border: 0!important;
    }
}

// ---

// Comments ---

.comms {
    min-height: 895px;
    background-color: #d74680;
    .comms__content {
        @media screen and (max-width: 992px) {
            padding-top: 10px;
            padding-bottom: 40px;
        }
        .comms__row {
            margin-top: -76px;
            @media screen and (max-width: 992px) {
                margin-top: 0;
            }
            .comms__col {
                align-items: flex-start;
                padding-top: 147px;
                @media screen and (max-width: 992px) {
                    padding-top: 50px;
                }
                .comms__img {
                    padding-right: 48px;
                }
                .comms__text {
                    p:nth-child(1) {
                        font-size: 21.5px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: italic;
                        line-height: 1.44;
                        letter-spacing: 0.43px;
                        text-align: left;
                        color: #fff;
                    }
                    p:nth-child(2) {
                        padding-top: 28px;
                        font-size: 24px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.08;
                        letter-spacing: 0.48px;
                        text-align: left;
                        color: #fff;
                    }
                    p:nth-child(3) {
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.44;
                        letter-spacing: 0.36px;
                        text-align: left;
                        color: #fd9;
                    }
                }
            }
        }
    }
}

// ---

// Forms ---

.forms {
    min-height: 820px;
    background-color: #3c5399;
    .form__row__input {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }
        .form__col {
            input {
                background: #273a71;
                border: 0;
                padding: 0 20px;
                border-radius: 7px;
                width: 525px;
                height: 55px;
                @media screen and (max-width: 1200px) {
                    width: 100%;
                }
            }
            input::placeholder {
                color: #fff;
            }
        }
    }
    form {
        margin-top: 75px;
        @media screen and (max-width: 1200px) {
            margin-top: 50px;
        }
        .form__row__input {
            .form__col {
                @media screen and (max-width: 1200px) {
                    padding-top: 20px;
                }
            }
        }
    }
    .form__textarea {
        display: flex;
        justify-content: center;
        textarea {
            margin-top: 20px;
            height: 200px;
            width: 100%;
            padding: 15px 20px;
            background: #273a71;
            border: 0;
            border-radius: 7px;
        }
        textarea::placeholder {
            color: #fff;
        }
    }
    .forms__btn {
        padding-top: 80px;
        @media screen and (max-width: 1200px) {
            padding-bottom: 40px;
        }
        text-align: center;
        button {
            background-color: #30bae7;
            width: 295px;
            height: 65px;
            border: 0;
            border-radius: 5px;
            border-bottom: 6px solid #299ec5;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
        }
        button:active {
            border: 0;
        }
    }
}

// ---

// Footer

.footer {
    background-color: #344b8e;
    min-height: 110px;
    .footer__links {
        justify-content: space-around;
        vertical-align: middle;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        p {
            line-height: 110px;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
            @media screen and (max-width: 670px) {
                font-size: 16px;
            }
            @media screen and (max-width: 576px) {
                font-size: 8px;
            }
        }
        p:hover {
            color: #30bae7;
        }
    }
}

// ---
